@page
@model Vitrina.Pages.Admin.DevTeams.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DevTeam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DevTeam.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DevTeam.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DevTeam.ImageString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DevTeam.ImageString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DevTeam.Progects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DevTeam.Progects)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DevTeam.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
