@page
@model Vitrina.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<form>
    <p>
        Ключевые слова: <input type="text" asp-for="SearchString" />
        <select asp-for="TransportClassSearch" asp-items="Model.TransportClasses">
            <option value="">Отобразить всё</option>
        </select>
        <select asp-for="TechDirectionsSearch" asp-items="Model.TexhDirections">
            <option value="">Отобразить всё</option>
        </select>
        <select asp-for="OrganisationSearch" asp-items="Model.Organisations">
            <option value="">Отобразить всё</option>
        </select>
        <input type="submit" value="Фильтр" ; style="border-color:white;" />

    </p>
</form>

<div style="margin:0% 25%; display: flex; justify-content: space-between; background: rgba(24, 24, 24, 0.05); border-radius: 24px; margin-bottom:15px;">
    <div style="background: #FFFFFF; width:50%; box-shadow: 0px 2px 9px rgba(24, 24, 24, 0.09); border-radius: 24px; padding:5px;">
        <p style="color: #181818; margin-bottom:0px; text-align:center; font-size: 18px; line-height: 24px;">Продукты</p>
    </div>

    <div style="color: rgba(196, 196, 196, 1); width:50%; box-shadow: 0px 2px 9px rgba(24, 24, 24, 0.09); border-radius: 24px; padding:5px;">
        <p style="text-align:center; margin-bottom:0px; color:rgba(24, 24, 24, 0.7); font-size: 18px; line-height: 23px;">Участники</p>
    </div>
</div>


@foreach (var item in Model.SingleStartup)
{
    <br />
    <div style="text-align:center; border: 3px solid black; margin: 0% 25%; border-radius:24px;">
        <table>
            <tr>
                <td>
                    <div style="padding:10px; ">
                        <img src=@item.ImageAsString alt="Rectangle-4" style="border-radius:16px; width:150px">
                    </div>
                </td>

                <td width="100%">
                    <div style="padding-top:10px;">
                        <header>
                            <div style="display: flex; justify-content: space-between;">
                                <h3 style="color: #181818;">@item.Title</h3><h6 style="padding-right: 5px; color: #181818;">20.11.2021</h6>
                            </div>
                            <h6 style="text-align: left; color: #181818;">Команда @item.DevTeam</h6>
                        </header>
                        <div>
                            <p style="text-align: left; color: #181818;">@item.ShortDesc</p>
                        </div>
                        <footer>
                            <h6 style="text-align: left; color: #181818;"></h6>
                            @{ for (int i = 0; i < item.Rate; i++)
                                {
                                    <img src="https://psv4.userapi.com/c536436/u108757040/docs/d2/1b081b75f544/Star_icon.png?extra=J7atOU3fTei1CZn1t2Xi1FpKXmAeUmulAxoWOyzbvjCgcceOvxkMIxoEhT4fhBuKEAEX4SuvBcOCe3vM_vNoQpHR_JCqtr1LmrVUTtUt8_vZqblTcxeIVL1BCAZZbb8B8rbjjcQthKbYA-ca8xhJGhHa" alt="* @i" width="17" height="17" />
                                } }
                            <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a>
                        </footer>

                    </div>
                </td>
            </tr>

        </table>
    </div>
}

